sagemaker
streamlit
requests
beautifulsoup4
sqlalchemy
matplotlib
pylint
black
pytest
psutil
scipy
yfinance
feedparser
plotly
WordCloud
nltk
textblob
seaborn
boto3
streamlit 
pandas 
numpy 
yfinance 
feedparser 
plotly 
altair 
wordcloud 
nltk 
textblob 
seaborn 
pillow 
requests 
scikit-learn 
python-dateutil 
beautifulsoup4 
pytz
